<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639222084905-mmae93lcvemvosepv2n56ohj2a92dqqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639222084905-mmae93lcvemvosepv2n56ohj2a92dqqv</string>
	<key>API_KEY</key>
	<string>AIzaSyAYKKSBvI0ITQxYIIyS4u2exsoDZ2gKwAM</string>
	<key>GCM_SENDER_ID</key>
	<string>639222084905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scenaire.ios.mymood</string>
	<key>PROJECT_ID</key>
	<string>mymood-c4e80</string>
	<key>STORAGE_BUCKET</key>
	<string>mymood-c4e80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639222084905:ios:c662cc68a216e7fb24f338</string>
	<key>DATABASE_URL</key>
	<string>https://mymood-c4e80.firebaseio.com</string>
</dict>
</plist>